form {
    width: 100%;
    border: solid lightgray 2px;
    max-width: 600px;
    border-radius: 25px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form > div{
    margin-bottom:1em ;
}
#description {
    border: solid lightgray 1px;
    border-radius: 10px;
}
textarea:focus {
    border:solid #48acff 1px !important;
    color:#48acff;
}
input[type="text"] {
    margin-top:1em;
    border: solid lightgray 1px;
    border-radius: 10px;
    text-align: center;
}
input[type="password"] {
    margin-top:1em;
    border: solid lightgray 1px;
    border-radius: 10px;
    text-align: center;
}
input[type="email"] {
    margin-top:1em;
    border: solid lightgray 1px;
    border-radius: 10px;
    text-align: center;
}
input:focus {
    border:solid #48acff 1px;
    color:#48acff;
}
.file {
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding: 0.5em;
}
a{
    text-decoration: none;
}