.project-form-icon-container {
    position: fixed;
    top: 90vh;
}
.project-form-icon {
    cursor: pointer;
    padding: 0.5em;
    border-radius: 50%;
    background: rgba(75, 172, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}
.project-form-icon:hover {
    background: rgba(75, 172, 255, 1);
    color: rgba(255, 255, 255, 1);
}
.project-form {
    
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 50vh;
}
.project-form form {
    border: lightgrey solid 2px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close-project-form {
    cursor: pointer;
    color:lightgray;
}
.close-project-form:hover {
    color:red;
}
.summary-container{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}
.project-content-form{
    border:solid 1px lightgrey;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
form {
    width: 100%;
}
.container-project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-project-form > div{
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    width: 90%;
    border:lightgray solid 1px;
    text-align: center;
    padding: 0.5em;
    border-radius: 25px;
}
.title-container{
    width: 90%;
}
.title:focus {
    border:#48acff solid 1px;
    color:#48acff;
    padding: 0.5em;
    border-radius: 25px;
}